<div class="container">
   <div class="left">
      <form class="form">
         <div>
            <h1>Sign In</h1>
            <input class="input" type="email" placeholder="your-email@gmail.com" name="">
            <input class="input" type="email" placeholder="your-password" name="">
            <input type="checkbox" class="checkbox" name="checked">
            <p class="ppp">Remember Me</p>
            <input class="sign_button" type="submit" name="Sign In" value="Sign In">
         </div>
      </form>
   </div>
   <div class="right">	
      <div class="div_span">
         <span>Welcome to</span>
      <strong>US</strong>
      <img src="FGW_logo_d.png" width="400" height="107" style="margin-top: 350px">
      </div>
      <div>
         
      </div>
      <!-- https://ap.greenwich.edu.vn/FGW_logo_d.jpg -->
      
   </div>
</div>