<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link text-white" (click)="goToPage('')">Home</a>
        <a class="nav-item nav-link text-white" (click)="goToPage('Login')">Login</a>
        <a class="nav-item nav-link text-white" (click)="goToPage('Submit')">Submission</a>
    </div>
    <div class="ml-auto text-right right-p">
        <ul class="navbar-nav">
            <li class="mr-3 text-white ">
                <span class="fa fa-clock-o icon" style="font-size: 20px;"></span><span style="font-size: 16px;">Mon-Sat : 9:00 to 17:00</span>
            </li>
            <li class="mr-3">
                <span class="fa fa-envelope-open icon" style="font-size: 20px;"></span> <a href="mailto:info@example.com" style="font-size: 16px;">topup@edu.com</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>