<!-- 
<nav class="navbar navbar-expand navbar-dark bg-dark container-fluid">
    <div class="navbar-nav">
        <div class="row">
            <div class="column">
                <a class="nav-item nav-link text-white" (click)="goToPage('')">Home</a>
                <a class="nav-item nav-link text-white" (click)="goToPage('Login')">Login</a>
                <a class="nav-item nav-link text-white" (click)="goToPage('Submit')">Submission</a>
                <a class="nav-item nav-link text-white" (click)="goToPage('Statistic')">Statistic</a>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <a class="nav-item nav-link text-white" (click)="goToPage('Error')">Upcoming Project</a>
                <a class="nav-item nav-link text-white" (click)="goToPage('Table')">Manage</a>
                <a class="nav-item nav-link text-white" (click)="goToPage('Mag-Table')">Grading</a>
            </div>
        </div>
    </div>
</nav>
-->
<nav class="navbar navbar-expand navbar-dark bg-dark container-fluid">
<div class="row">
    <div class="column">
        <a class="nav-item nav-link text-white" (click)="goToPage('')">Home</a>
        <a class="nav-item nav-link text-white" (click)="goToPage('Login')">Login</a>
        <a class="nav-item nav-link text-white" (click)="goToPage('Submit')">Submission</a>
        <a class="nav-item nav-link text-white" (click)="goToPage('Statistic')">Statistic</a>
    </div>
    
    <div class="column" >
        <a class="nav-item nav-link text-white" (click)="goToPage('Error')">Upcoming Project</a>
        <a class="nav-item nav-link text-white" (click)="goToPage('Table')">Manage</a>
        <a class="nav-item nav-link text-white" (click)="goToPage('Mag-Table')">Grading</a>
    </div>
    
  
    </div>
</nav>
<router-outlet></router-outlet>