<nav class="navbar navbar-expand navbar-dark bg-dark container-fluid">
    <div class="row">
        <div class="column pr-1" *ngIf="!isLoggedIn">
            <a class="nav-item nav-link text-white" (click)="goToPage('')">Home</a>
            <a class="nav-item nav-link text-white" (click)="goToPage('Login')">Login</a>
            <a class="nav-item nav-link text-white" (click)="goToPage('Register')">Register</a>
        </div>

        <div class="column pl-1" *ngIf="isLoggedIn">
            <a class="nav-item nav-link text-white" (click)="goToPage('Uploadfile')">Upload</a>
            <a class="nav-item nav-link text-white" (click)="goToPage('Table')" *ngIf="showAdminBoard">Manage</a>
            <a class="nav-item nav-link text-white" (click)="goToPage('Mag-Table')">Grading</a>
            <a class="nav-item nav-link text-white" (click)="goToPage('Statistic')">Statistic</a>
            <a class="nav-item nav-link text-white" (click)="goToPage('Profile')">Profile</a>
            <a href class="nav-item nav-link text-white" (click)="logout()">LogOut</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>