<div class="container-fluid">
    <div class="row no-gutter">
        <div class="login d-flex align-items-center py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-8 mx-auto">
                        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                            <div class="form-label-group">
                                <label for="name">Your name</label>
                                <input type="text" class="form-control" name="name" [(ngModel)]="form.name" required minlength="3" maxlength="20" #name="ngModel" />
                                <div class="alert-danger" *ngIf="name?.errors && f.submitted">
                                    <div *ngIf="name.errors.required">Name is required</div>
                                    <div *ngIf="name.errors.minlength">
                                        Requires 3 characters minimum
                                    </div>
                                    <div *ngIf="name.errors.maxlength">
                                        Maximum of 20 characters
                                    </div>
                                </div>
                            </div>
                            <div class="form-label-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel" />
                                <div class="alert-danger" *ngIf="email?.errors && f.submitted">
                                    <div *ngIf="email.errors.required">Email is required</div>
                                    <div *ngIf="email.errors.email">
                                        Email must be a valid email address
                                    </div>
                                </div>
                            </div>
                            <div class="form-label-group">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" name="address" [(ngModel)]="form.address" required minlength="6" #address="ngModel" />
                                <div class="alert-danger" *ngIf="address?.errors && f.submitted">
                                    <div *ngIf="address.errors.required">Address is required</div>
                                    <div *ngIf="address.errors.minlength">
                                        Address must be at least 6 characters
                                    </div>
                                </div>
                            </div>

                            <div class="form-label-group">
                                <label for="phone">Phone number</label>
                                <input type="text" class="form-control" name="phone" [(ngModel)]="form.phonenumber" required minlength="10" #phonenumber="ngModel" />
                                <div class="alert-danger" *ngIf="address?.errors && f.submitted">
                                    <div *ngIf="phonenumber.errors.required">Phone is required</div>
                                    <div *ngIf="phonenumber.errors.minlength">
                                        Phone must be at least 11 characters
                                    </div>
                                </div>
                            </div>

                            <div class="form-label-group">
                                <label for="falccuty">Falcuty : {{form.falcuty}}</label>
                                <div class="form-check">
                                    <input class="form-check-input" [value]="1" [(ngModel)]="form.falcuty" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      Software Engineering
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" [value]="2" [(ngModel)]="form.falcuty" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                      International Business
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" [value]="3" [(ngModel)]="form.falcuty" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                      Artificial Intelligence
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" [value]="4" [(ngModel)]="form.falcuty" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                      Software Assurance
                                    </label>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block btn-sign">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>