<div class="container">
    <br>
    <h1 style="text-align: left;">User Profile</h1>
    <table class="table table-bordered">


        <tbody>
            <tr>
                <th scope="row">ID</th>
                <td>{{currentUser.id}}</td>

            </tr>
            <tr>
                <th scope="row">Email</th>
                <td> {{ currentUser.email }}</td>

            </tr>
            <tr>
                <th scope="row">Address</th>
                <td>{{ currentUser.address }}</td>
            </tr>
            <tr>
                <th scope="row">Phone Number</th>
                <td>{{ currentUser.phonenumber }}</td>

            </tr>
            <tr>
                <th scope="row">Falcuty</th>
                <td>{{ falcuty }}</td>

            </tr>
            <tr>
                <th scope="row">Roles</th>
                <td>
                    <span *ngFor="let role of currentUser.roles">
                            {{ role }} .
                        </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>