<!-- Nav -->
<div class="menu-toggle rounded">
    <div ngbDropdown class="d-inline-block ">
        <button class="btn btn-hide btn-cus caret-off " id="dropdownBasic1" ngbDropdownToggle><i
                class="fas fa-bars"></i></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="menu">
            <a ngbDropdownItem href="#head">Home</a>
            <a ngbDropdownItem href="#about">About</a>
            <a ngbDropdownItem href="#services">Services</a>
            <a ngbDropdownItem href="#team">Our Teachers</a>
            <a ngbDropdownItem href="#mag-intro">Magazines</a>
            <a ngbDropdownItem href="#foot">Contact</a>
        </div>
    </div>
</div>
<!-- //Nav -->

<!-- Header -->
<header class="masthead d-flex" id="head">
    <div class="container my-auto">
        <h1 class="mb-1">TOPUP Education</h1>
        <h3 class="mb-5">
            <em>Welcome to the new age</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Learn More!</a>
    </div>
    <div class="overlay"></div>
</header>
<!-- //Header -->

<!-- About -->
<section class="content-section bg-light" id="about">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="content-section-heading">
                    <h3 class="text-secondary mb-0">ABOUT US</h3><br>
                </div>
                <p class="lead mb-5"><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quam sem, faucibus
                        sit
                        amet nibh non, ullamcorper mattis quam. Nulla condimentum sem nec scelerisque cursus. Integer
                        sagittis tristique tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                        pharetra auctor orci, et ornare erat commodo a. Mauris mollis mi at elit aliquet dictum.
                        Curabitur
                        sed tincidunt mauris.</i></p>
                <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">What We Offer</a>
            </div>
        </div>
    </div>
</section>
<!-- //About -->

<!-- Services -->
<section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">Services</h3>
            <h2 class="mb-5">What We Offer</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="fas fa-book-open"></i>
                </span>
                <h4>
                    <strong>QUALITY<br>EDUCATION</strong>
                </h4>
                <p class="text-faded mb-0">Proin faucibus pellentesque nulla</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="fas fa-chalkboard-teacher"></i>
                </span>
                <h4>
                    <strong>EXPERIENCED<br>STAFFS</strong>
                </h4>
                <p class="text-faded mb-0">Venenatis eu venenatis vitae</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="fas fa-desktop"></i>
                </span>
                <h4>
                    <strong>QUALITY<br>FACILITIES</strong>
                </h4>
                <p class="text-faded mb-0">Donec non sapien nisi</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="fas fa-user-graduate"></i>
                </span>
                <h4>
                    <strong>STUDY<br>CERTIFICATE</strong>
                </h4>
                <p class="text-faded mb-0">Ut vitae lacus condimentum</p>
            </div>
        </div>
    </div>
</section>
<!-- //Services -->

<!-- Team  -->
<section class="team pt-5" id="team">
    <div class="container py-lg-5">
        <h2 class="heading mb-sm-5 mb-4 text-center">Our Teachers</h2>
        <div class="row">
            <div class="team-grid col-md-3 col-sm-6 mb-5 ">
                <img src="../../assets/img/IT.jpg" class="img-fluid" alt="" />
                <div class="team-info text-center">
                    <h3 class="e">Lee Scott</h3>
                    <span class="">IT Teacher</span>
                </div>
            </div>
            <div class="team-grid col-md-3 col-sm-6 mb-5">
                <img src="../../assets/img/ENGLISH.jpg" class="img-fluid" alt="" />
                <div class="team-info text-center">
                    <h3 class="">Paul Jackson</h3>
                    <span class="">English Teacher</span>
                </div>
            </div>
            <div class="team-grid col-md-3 col-sm-6 mb-5">
                <img src="../../assets/img/music.jpg" class="img-fluid" alt="" />
                <div class="team-info text-center">
                    <h3 class="">Louis Marsh</h3>
                    <span class="">Music Teacher</span>
                </div>
            </div>
            <div class="team-grid col-md-3 col-sm-6 mb-5">
                <img src="../../assets/img/art.jpg" class="img-fluid" alt="" />
                <div class="team-info text-center">
                    <h3 class="">Isidro Rivas</h3>
                    <span class="">Architecture Teacher</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Team -->

<!-- Magazine -->
<section class="callout" id="mag-intro">
    <div class="container text-center">
        <h2 class="mx-auto mb-5">Our Annualy University Magazine</h2>
        <a class="btn btn-primary btn-xl" href="#mag">Read Below!</a>
    </div>
</section>


<section class="content-section" id="mag">
    <div class="container">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Favourite</h3>
            <h2 class="mb-5">Categories</h2>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-3">
                <a class="portfolio-item" href="#!">
                    <div class="caption cap-bg1">
                        <div class="caption-content">
                            <div class="h2 centered">Technology</div>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../assets/img/portfolio-1.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3">
                <a class="portfolio-item" href="#!">
                    <div class="caption cap-bg2">
                        <div class="caption-content">
                            <div class="h2 centered">Music</div>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../assets/img/portfolio-2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3">
                <a class="portfolio-item" href="#!">
                    <div class="caption cap-bg3">
                        <div class="caption-content">
                            <div class="h2 centered">Beauty</div>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../assets/img/portfolio-3.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3">
                <a class="portfolio-item" href="#!">
                    <div class="caption cap-bg4">
                        <div class="caption-content">
                            <div class="h2 centered">Fashion</div>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../assets/img/portfolio-4.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3">
                <a class="portfolio-item" href="#!">
                    <div class="caption cap-bg5">
                        <div class="caption-content">
                            <div class="h2 centered">Science</div>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../assets/img/portfolio-5.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3">
                <a class="portfolio-item" href="#!">
                    <div class="caption cap-bg6">
                        <div class="caption-content">
                            <div class="h2 centered">Business</div>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../assets/img/portfolio-6.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3">
                <a class="portfolio-item" href="#!">
                    <div class="caption cap-bg7">
                        <div class="caption-content">
                            <div class="h2 centered">Architect</div>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../assets/img/portfolio-7.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3">
                <a class="portfolio-item" href="#!">
                    <div class="caption cap-bg8">
                        <div class="caption-content">
                            <div class="h2 centered">Film</div>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../assets/img/portfolio-8.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- //Magazine -->

<!-- footer -->
<footer class="footer-layer py-sm-5 pt-5 pb-3 text-center" id="foot">
    <div class="container py-md-3">
        <div class="footer-grid text-center">
            <div class="footer-title mb-3">
                <a href="#"><img src="../../assets/img/logo.png" alt=""><br><strong>TOPUP EDUCATION</strong></a>
            </div>
            <div class="footer-text">
                <p>Vestibulum aliquam, nisl quis consequat eleifend, lorem eros ultricies massa, vel fermentum risus
                    eros nec sapien. Vivamus dapibus, arcu ut sagittis rutrum, metus odio mollis quam, blandit malesuada
                    quam turpis et nisi. Suspendisse quis neque sed risus ultrices eleifend. </p>
            </div>
            <ul class="list-inline">
                <li class="mr-3 text-white">
                    <span class="fa fa-clock-o icon"></span><span style="font-size: 20px;">Mon-Sat : 9:00 to
                        17:00</span>
                </li>
                <li class="mr-3">
                    <span class="fa fa-envelope-open icon"></span> <a href="mailto:info@example.com">topup@edu.com</a>
                </li>
            </ul>
            <ul class="list-inline mb-5 social">
                <li class="mb-2 fa fa-facebook icon"></li>
                <li class="mb-2 fa fa-instagram icon"></li>
                <li class="mb-2 fa fa-twitter icon"></li>
                <li class="mb-2 fa fa-google-plus icon"></li>
                <a href='https://github.com/nminh227/TOPUP' target="_blank" rel="noopener noreferrer">
                    <li class="mb-2 fa fa-github icon"></li>
                </a>
                <li class="mb-2 fa fa-linkedin icon"></li>
            </ul>
            <p class="text-muted small mb-0">Copyright &copy; TOPUP Education 2021</p>
        </div>
    </div>
</footer>
<!-- //footer -->

<!-- move top -->
<div class="move-top text-right">
    <a href="#head" class="move-top">
        <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
    </a>
</div>
<!-- move top -->