<div class="d-flex justify-content-around mt-5 chart">
    <!-- Bar Chart -->
    <div class="col-xl-6 chart">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Contributions (In Number)</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-bar">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                    <br>
                    <!--  
                    <button mat-button mat-raised-button class="btn btn-primary js-scroll-trigger"
                        (click)="lineview()">Line View</button> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-6 chart">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Contributions (In Percentage)</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4">
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                        [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend">
                    </canvas>
                    <br>
                    <div>
                        <button mat-button mat-raised-button class="btn btn-primary js-scroll-trigger"
                            (click)="removeSlice()">Remove Slice</button>

                        <button mat-button mat-raised-button class="btn btn-primary js-scroll-trigger"
                            (click)="changeLegendPosition()">Change Legend Position</button>
                    </div>
                </div>
            </div>
        </div>
    </div>