.btn{
  margin: 5px;
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 1150px)
and (-webkit-min-device-pixel-ratio: 2) {
    .chart {
      display: flex;
      flex-direction: column;
    }
  }
